cloud_id                 = "basdfa1564231asf54sf"
folder_id                = "7531564asdfasdf1d4fa"
zone                     = "ru-central1-a"
image_id                 = "asdf15sd32fasfas231f"
public_key_path          = "key.pub"
subnet_id                = "sdf1f32as1df21asf21a"
service_account_key_file = "key.json"
private_key_path         = "key"
count_vm                 = "1"
app_disk_image           = "f24d2fas2dfasdf2123s"
db_disk_image            = "asdf12313sa3df2ds3af"
environment_space        = "stage"
